.wrapper {
  display: grid;
  grid-template-areas:
    "nav content"
    "footer footer";
  height: 100vh;
  width: 100vw;
  grid-template-columns: 310px auto;
  grid-template-rows: 1fr auto;
}

main {
  grid-area: content;
  overflow: auto
}

nav {
  grid-area: nav;
  overflow: auto
}

footer {
  grid-area: footer;
}
